<!DOCTYPE html>
<html>
  <head>
    <title>RETAILDASH_SEE_REPORT</title>
    <link rel="stylesheet" type="text/css" href="/css/searched_report.css" />
  </head>

  <body>
    <%- include('./layout/header.ejs') %>
    <main>
      <section>
        <h2>Data Summary</h2>
        <div class="dropdown-section">
          <form method="post" action="/searched_report">
            <label for="kelompok">Kelompok:</label>
            <select id="kelompok" name="kelompok">
              <option value="Year_Birth">Year Birth</option>
              <option value="Education">Education</option>
              <option value="Marital_Status">Marital Status</option>
              <option value="Kidhome">Kidhome</option>
              <option value="Teenhome">Teenhome</option>
              <option value="Complain">Complain</option>
              <option value="AcceptedCmp1">Accepted in 1st Campaign</option>
              <option value="AcceptedCmp2">Accepted in 2nd Campaign</option>
              <option value="AcceptedCmp3">Accepted in 3rd Campaign</option>
              <option value="AcceptedCmp4">Accepted in 4th Campaign</option>
              <option value="AcceptedCmp5">Accepted in 5th Campaign</option>
              <option value="Response">Response</option>
            </select>

            <label for="agregat">Agregat:</label>
            <select id="agregat" name="agregat">
              <option value="Sum">Sum</option>
              <option value="Avg">Average</option>
              <option value="Count">Count</option>
              <option value="Min">Min</option>
              <option value="Max">Max</option>
            </select>
            <label for="kolom">Kolom:</label>
            <select id="kolom" name="kolom">
              <option value="Income">Income</option>
              <option value="Recency">Recency</option>
              <option value="MntWines">Amount spent on wine</option>
              <option value="MntFruits">Amount spent on fruits</option>
              <option value="MntMeatProducts">Amount spent on meat</option>
              <option value="MntFishProducts">Amount spent on fish</option>
              <option value="MntSweetProducts">Amount spent on sweets</option>
              <option value="MntGoldProds">Amount spent on gold</option>
              <option value="NumDealsPurchases">Number of purchases with discount</option>
              <option value="NumWebPurchases">Number of purchases made through company's web</option>
              <option value="NumCatalogPurchases">Number of purchases made using catalog</option>
              <option value="NumStorePurchases">Number of purchases made directly in store</option>
              <option value="NumWebVisitsMonth">Number of visits to company's web in the last month</option>
            </select>
            <input type="submit" id="searchButton" value="Search" />
          </form>
        </div>
        <h3><%- agregat %> <%- kolom %> Group By <%- kelompok %></h3>
        <div class="summary-container-wrapper">
          <div class="summary-container">
            <table>
              <tr>
                <th><%- kelompok %></td>
                <th><%- agregat %> <%- kolom %></td>
              </tr>
              <% for(let row of rows){ %>
              <tr>
                <td><%- row.Kelompok %></td>
                <td><%- row.Hasil %></td>
              </tr>
              <% } %>
            </table>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
